<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form action="/register" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"/>
    </div>

    <div>
        <label for="nameFirst">First Name:</label>
        <input type="text" name="name.first" id="nameFirst"/>
    </div>
    <div>
        <label for="nameLast">Last Name:</label>
        <input type="text" name="name.last" id="nameLast"/>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email"/>
    </div>

    <div>
        <input type="submit" value="Register"/>
    </div>

</form>
</body>
</html>